.footer {
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    height: 200px;
}

.footer li {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
}

.footer a {
    color:  #32adb6;
    padding: 10px;
  }